.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
}

.card p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
}

.card:hover {
    transform: scale(1.02);
    outline: 1px solid #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
